Repository Ultramarine-Linux/images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: iso-budgie, iso-cutefish, docker-deploy

iso-budgie:
  stage: build
  script:
  - microdnf install -y lorax-lmc-novirt vim-minimal pykickstart sudo
  - make flagship
  artifacts:
    paths:
    - build/

iso-cutefish:
  stage: build
  script:
  - microdnf install -y lorax-lmc-novirt vim-minimal pykickstart sudo
  - make SPIN=cutefish image
  artifacts:
    paths:
    - build/
    when: always

docker-deploy:
  stage: deploy
  needs:
  - tarball-docker
  dependencies:
  - tarball-docker
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker import ultramarine-docker.tar.gz ultramarine
  ...

Don't automatically import the image
  Makefile
Due: none

added make as a dependency
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

lol no
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

removed cyber desktop
  kickstarts/spins/cyber/cyber-base.ks
  kickstarts/spins/cyber/cyber-packages.ks
  kickstarts/ultramarine-cyber.ks
Due: iso-budgie, iso-cutefish

removed cutefish repo
  kickstarts/ultramarine-cutefish.ks
Due: iso-budgie, iso-cutefish

added backgrounds package
  kickstarts/spins/cutefish/cutefish-packages.ks
Due: none

selfhost image
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

fixed make
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

Revert "selfhost image"
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

added cutefish background package
  kickstarts/spins/cutefish/cutefish-packages.ks
Due: none

remove identity-flagship
  kickstarts/spins/budgie/budgie-packages.ks
Due: none

dummy buildstamps
  kickstarts/ultramarine-budgie.ks
  kickstarts/ultramarine-cutefish.ks
Due: iso-budgie, iso-cutefish

remove CI builds for ISO (will be in final compose instead)
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

a
  kickstarts/base/desktop.ks
  kickstarts/spins/budgie/budgie-packages.ks
Due: none

bring back openvpn
  kickstarts/base/desktop.ks
Due: none

capitalized flagship
  kickstarts/ultramarine-budgie.ks
Due: iso-budgie, iso-cutefish

changed buildtree
  kickstarts/base/base-repo.ks
Due: none

nouveau firmware is still cursed
  kickstarts/base/desktop.ks
Due: none

added pantheon support
  kickstarts/spins/pantheon/pantheon-base.ks
  kickstarts/spins/pantheon/pantheon-packages.ks
  kickstarts/ultramarine-pantheon.ks
Due: iso-budgie, iso-cutefish

schrodinger's group apparently
  kickstarts/spins/budgie/budgie-packages.ks
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: iso-budgie, iso-cutefish, docker-deploy

exclude mlocate
  kickstarts/base/base.ks
Due: none

remove cutefish-desktop metapackage in favor of group
  kickstarts/spins/cutefish/cutefish-packages.ks
Due: none

add the funny inputmethod fix (hopefully)
  kickstarts/spins/cutefish/cutefish-base.ks
Due: none

added gnome
  Makefile
  kickstarts/base/base.ks
  kickstarts/spins/gnome/gnome-base.ks
  kickstarts/spins/gnome/gnome-packages.ks
  kickstarts/ultramarine-gnome.ks
  onceler.cfg
Due: iso-budgie, iso-cutefish

test stuff
  Makefile
  kickstarts/base/config/anaconda.ks
Due: none

update versioning
  kickstarts/ultramarine-budgie.ks
  kickstarts/ultramarine-cutefish.ks
  kickstarts/ultramarine-gnome.ks
  kickstarts/ultramarine-pantheon.ks
Due: iso-budgie, iso-cutefish

weird openvpn thing
  kickstarts/base/desktop.ks
Due: none

some vanity changes
  kickstarts/base/desktop.ks
Due: none

f35-specific changes
  kickstarts/base/base.ks
  kickstarts/ultramarine-budgie.ks
  kickstarts/ultramarine-cutefish.ks
Due: iso-budgie, iso-cutefish

changed backgrounds package
  kickstarts/spins/budgie/budgie-packages.ks
  kickstarts/spins/cutefish/cutefish-packages.ks
  kickstarts/spins/gnome/gnome-packages.ks
  kickstarts/spins/pantheon/pantheon-packages.ks
Due: none

added flagship env
  kickstarts/ultramarine-budgie.ks
Due: iso-budgie, iso-cutefish

configure systemd services
  kickstarts/base/base.ks
Due: none

exclude weak dependencies
  kickstarts/base/base.ks
Due: none

change image size to 8gb
  kickstarts/base/base.ks
Due: none

Optimized image - Removed some unneccessary scripts and packages - Made zsh with starship prompt the default shell
  kickstarts/base/base.ks
  kickstarts/base/desktop.ks
Due: none

update funny kickstarts
  kickstarts/spins/budgie/budgie-packages.ks
  kickstarts/spins/cutefish/cutefish-packages.ks
  kickstarts/spins/gnome/gnome-packages.ks
  kickstarts/spins/pantheon/pantheon-packages.ks
  kickstarts/ultramarine-budgie.ks
  kickstarts/ultramarine-cutefish.ks
  kickstarts/ultramarine-gnome.ks
  kickstarts/ultramarine-pantheon.ks
Due: iso-budgie, iso-cutefish

Path conditions:
  iso-budgie: any of: .gitlab-ci.yml, kickstarts/*
  iso-cutefish: any of: .gitlab-ci.yml, kickstarts/*
  docker-deploy: any of: .gitlab-ci.yml, kickstarts/ultramarine-docker.ks
